################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MHPlatform.API/v17/.suo
/.vs/MHPlatform.API/FileContentIndex/24a6f715-644d-470d-824e-07bf8fbb4ff1.vsidx
/.vs/MHPlatform.API/FileContentIndex/26a67ff2-dfd0-4d1d-a74c-8e982d954d77.vsidx
/.vs/MHPlatform.API/FileContentIndex/287f29cd-c72e-4e59-9d01-f13be5cc39e5.vsidx
/.vs/MHPlatform.API/FileContentIndex/31d41610-9e28-40f6-b4a6-077626f33e42.vsidx
/.vs/MHPlatform.API/FileContentIndex/7581a974-b452-4946-acd3-11c3ce80523a.vsidx
/.vs/MHPlatform.API/FileContentIndex/9ac6aa1f-d258-429e-b841-baa61d9dc193.vsidx
/.vs/MHPlatform.API/FileContentIndex/c34d3246-b2f1-4335-85fe-aedd131ff4a4.vsidx
/.vs/MHPlatform.API/FileContentIndex/e6d57806-bdd3-4529-bb10-6ad11fe1f854.vsidx
/.vs/MHPlatform.API/FileContentIndex/ebf25eed-8657-44d1-bea5-64971dc89323.vsidx
/.vs/MHPlatform.API/FileContentIndex/f0239cc5-5533-4d1e-b33e-0a5073a57275.vsidx
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.dll
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.pdb
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.csproj.AssemblyReference.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.dll
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.pdb
/MHPlatform.API/obj/Debug/net6.0/ref/MHPlatform.API.dll
/MHPlatform.API/obj/Debug/net6.0/refint/MHPlatform.API.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.AssemblyReference.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.CoreCompileInputs.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net6.0/ref/MHPlatform.Service.dll
/MHPlatform.Service/obj/Debug/net6.0/refint/MHPlatform.Service.dll
/.vs/MHPlatform.API/FileContentIndex
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.AssemblyInfo.cs
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.AssemblyInfoInputs.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.assets.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.API/obj/Debug/net6.0/staticwebassets.removed.txt
/MHPlatform.API/obj/MHPlatform.API.csproj.nuget.dgspec.json
/MHPlatform.API/obj/MHPlatform.API.csproj.nuget.g.props
/MHPlatform.API/obj/project.assets.json
/MHPlatform.API/obj/project.nuget.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.AssemblyInfo.cs
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.AssemblyInfo.cs
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.AssemblyInfoInputs.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.assets.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.Service/obj/MHPlatform.Service.csproj.nuget.dgspec.json
/MHPlatform.Service/obj/MHPlatform.Service.csproj.nuget.g.props
/MHPlatform.Service/obj/project.assets.json
/MHPlatform.Service/obj/project.nuget.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.AssemblyInfoInputs.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.assets.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.csproj.AssemblyReference.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.Domain/obj/MHPlatform.Domain.csproj.nuget.dgspec.json
/MHPlatform.Domain/obj/MHPlatform.Domain.csproj.nuget.g.props
/MHPlatform.Domain/obj/project.assets.json
/MHPlatform.Domain/obj/project.nuget.cache
/.vs/MHPlatform.API/DesignTimeBuild/.dtbcache.v2
/.vs/MHPlatform.API/v17/DocumentLayout.backup.json
/.vs/MHPlatform.API/v17/DocumentLayout.json
/.vs/ProjectEvaluation/mhplatform.api.metadata.v7.bin
/.vs/ProjectEvaluation/mhplatform.api.projects.v7.bin
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.deps.json
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.exe
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.staticwebassets.endpoints.json
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Domain.dll
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Domain.pdb
/MHPlatform.API/obj/Debug/net6.0/ApiEndpoints.json
/MHPlatform.API/obj/Debug/net6.0/apphost.exe
/MHPlatform.API/obj/Debug/net6.0/EndpointInfo/MHPlatform.API.json
/MHPlatform.API/obj/Debug/net6.0/EndpointInfo/MHPlatform.API.OpenApiFiles.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatfo.E5AF6A59.Up2Date
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.csproj.CopyComplete
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.csproj.CoreCompileInputs.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.csproj.FileListAbsolute.txt
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.genruntimeconfig.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.sourcelink.json
/MHPlatform.API/obj/Debug/net6.0/staticwebassets/msbuild.build.MHPlatform.API.props
/MHPlatform.API/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/MHPlatform.API/obj/Debug/net6.0/staticwebassets.build.json
/MHPlatform.API/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/MHPlatform.Domain/bin/Debug/net6.0/MHPlatform.Domain.dll
/MHPlatform.Domain/bin/Debug/net6.0/MHPlatform.Domain.pdb
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.csproj.CoreCompileInputs.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.csproj.FileListAbsolute.txt
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.dll
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.pdb
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.sourcelink.json
/MHPlatform.Domain/obj/Debug/net6.0/ref/MHPlatform.Domain.dll
/MHPlatform.Domain/obj/Debug/net6.0/refint/MHPlatform.Domain.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Domain.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Domain.pdb
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Service.deps.json
/MHPlatform.Service/obj/Debug/net6.0/MHPlatfo.07789F82.Up2Date
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.CopyComplete
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.FileListAbsolute.txt
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.sourcelink.json
/MHPlatform.Service/obj/Debug/net8.0/MHPlatform.Service.AssemblyInfoInputs.cache
/.vs/ProjectEvaluation/mhplatform.api.metadata.v9.bin
/.vs/ProjectEvaluation/mhplatform.api.projects.v9.bin
/.vs/ProjectEvaluation/mhplatform.api.strings.v9.bin
/.vs/MHPlatform.API/v17/.futdcache.v2
/MHPlatform.API/obj/Debug/net8.0/MHPlatform.API.AssemblyInfoInputs.cache
/MHPlatform.Domain/obj/Debug/net8.0/MHPlatform.Domain.AssemblyInfoInputs.cache
/MHPlatform.API/appsettings.json
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.API.dll
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.API.pdb
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.Domain.dll
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.Domain.pdb
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.Service.dll
/MHPlatform.API/bin/Debug/net8.0/MHPlatform.Service.pdb
/MHPlatform.API/obj/Debug/net8.0/MHPlatform.API.csproj.AssemblyReference.cache
/MHPlatform.API/obj/Debug/net8.0/MHPlatform.API.dll
/MHPlatform.API/obj/Debug/net8.0/MHPlatform.API.pdb
/MHPlatform.API/obj/Debug/net8.0/MHPlatform.API.sourcelink.json
/MHPlatform.Domain/bin/Debug/net8.0/MHPlatform.Domain.dll
/MHPlatform.Domain/bin/Debug/net8.0/MHPlatform.Domain.pdb
/MHPlatform.Domain/obj/Debug/net8.0/MHPlatform.Domain.dll
/MHPlatform.Domain/obj/Debug/net8.0/MHPlatform.Domain.pdb
/MHPlatform.Domain/obj/Debug/net8.0/MHPlatform.Domain.sourcelink.json
/MHPlatform.Domain/obj/Debug/net8.0/ref/MHPlatform.Domain.dll
/MHPlatform.Domain/obj/Debug/net8.0/refint/MHPlatform.Domain.dll
/MHPlatform.Service/bin/Debug/net8.0/MHPlatform.Domain.dll
/MHPlatform.Service/bin/Debug/net8.0/MHPlatform.Domain.pdb
/MHPlatform.Service/bin/Debug/net8.0/MHPlatform.Service.dll
/MHPlatform.Service/bin/Debug/net8.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net8.0/MHPlatform.Service.csproj.AssemblyReference.cache
/MHPlatform.Service/obj/Debug/net8.0/MHPlatform.Service.dll
/MHPlatform.Service/obj/Debug/net8.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net8.0/MHPlatform.Service.sourcelink.json

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.vscode/
#Nuget packages folder
packages/

*.env
.terraform*
