################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MHPlatform.API/v17/.suo
/.vs/MHPlatform.API/FileContentIndex/24a6f715-644d-470d-824e-07bf8fbb4ff1.vsidx
/.vs/MHPlatform.API/FileContentIndex/26a67ff2-dfd0-4d1d-a74c-8e982d954d77.vsidx
/.vs/MHPlatform.API/FileContentIndex/287f29cd-c72e-4e59-9d01-f13be5cc39e5.vsidx
/.vs/MHPlatform.API/FileContentIndex/31d41610-9e28-40f6-b4a6-077626f33e42.vsidx
/.vs/MHPlatform.API/FileContentIndex/7581a974-b452-4946-acd3-11c3ce80523a.vsidx
/.vs/MHPlatform.API/FileContentIndex/9ac6aa1f-d258-429e-b841-baa61d9dc193.vsidx
/.vs/MHPlatform.API/FileContentIndex/c34d3246-b2f1-4335-85fe-aedd131ff4a4.vsidx
/.vs/MHPlatform.API/FileContentIndex/e6d57806-bdd3-4529-bb10-6ad11fe1f854.vsidx
/.vs/MHPlatform.API/FileContentIndex/ebf25eed-8657-44d1-bea5-64971dc89323.vsidx
/.vs/MHPlatform.API/FileContentIndex/f0239cc5-5533-4d1e-b33e-0a5073a57275.vsidx
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.dll
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.API.pdb
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.API/bin/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.csproj.AssemblyReference.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.dll
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.pdb
/MHPlatform.API/obj/Debug/net6.0/ref/MHPlatform.API.dll
/MHPlatform.API/obj/Debug/net6.0/refint/MHPlatform.API.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.Service/bin/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.AssemblyReference.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.csproj.CoreCompileInputs.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.dll
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.pdb
/MHPlatform.Service/obj/Debug/net6.0/ref/MHPlatform.Service.dll
/MHPlatform.Service/obj/Debug/net6.0/refint/MHPlatform.Service.dll
/.vs/MHPlatform.API/FileContentIndex
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.AssemblyInfo.cs
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.AssemblyInfoInputs.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.assets.cache
/MHPlatform.API/obj/Debug/net6.0/MHPlatform.API.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.API/obj/Debug/net6.0/staticwebassets.removed.txt
/MHPlatform.API/obj/MHPlatform.API.csproj.nuget.dgspec.json
/MHPlatform.API/obj/MHPlatform.API.csproj.nuget.g.props
/MHPlatform.API/obj/project.assets.json
/MHPlatform.API/obj/project.nuget.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.AssemblyInfo.cs
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.AssemblyInfo.cs
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.AssemblyInfoInputs.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.assets.cache
/MHPlatform.Service/obj/Debug/net6.0/MHPlatform.Service.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.Service/obj/MHPlatform.Service.csproj.nuget.dgspec.json
/MHPlatform.Service/obj/MHPlatform.Service.csproj.nuget.g.props
/MHPlatform.Service/obj/project.assets.json
/MHPlatform.Service/obj/project.nuget.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.AssemblyInfoInputs.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.assets.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.csproj.AssemblyReference.cache
/MHPlatform.Domain/obj/Debug/net6.0/MHPlatform.Domain.GeneratedMSBuildEditorConfig.editorconfig
/MHPlatform.Domain/obj/MHPlatform.Domain.csproj.nuget.dgspec.json
/MHPlatform.Domain/obj/MHPlatform.Domain.csproj.nuget.g.props
/MHPlatform.Domain/obj/project.assets.json
/MHPlatform.Domain/obj/project.nuget.cache
