<mat-drawer-container class="example-container">
  <mat-drawer-content>Main content</mat-drawer-content>
  <mat-drawer mode="side" opened position="end" layout="column" layout-align="start center">
    <form >
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Validation message</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-hint>Validation message</mat-hint>
        </mat-form-field>
      </p>
    </form>
  </mat-drawer>  
</mat-drawer-container>